body {
   /*font-family: 'Anton', sans-serif;*/
}

.discounts {
    border-radius: 10px;
    box-shadow: 2px 2px 3px 0px rgba(150,150,150,1);
}

.jumbotron, .discounts {
    border: 1px solid #cecece;
}

.jumbotron{
    padding: 1em; 
}

.toast {
    position: fixed;
    top: 100px;
    right: 10px;
}

@media (min-width: 768px){

    .jumbotron {
        margin: auto; 
        padding: 2em;
    }
}